$bg-button:#897c8c;
$bg-h3: #555da2;
$bg-h3-brown: #b57959;
$bg-h3-green:#678f7b;
$bg-h3-lightbrowm:#b09472;
$bg-main:rgba(255, 255, 255, 0.11);
$font-size-base: 16px;
$font-family-base: 'Arial, sans-serif';
$color-input: #fff;