@import "_reset";
@import "_include-media";
@import "_header";
@import "_variables";
@import "_style";
@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
body {
  background: #eff7fa;
  font: 15px "robotoregular";
}
.container.nav-logo {
  margin-bottom: 58px;
  .col-1 {
    margin: auto;
  }
  h1 {
    color: #1a2940;
    font: 35px "robotomedium";
    padding-top: 160px;
    .text-muted {
      position: relative;
      display: block;
      font-size: 15px;
      padding: 15px 0 20px;
      margin-bottom: 60px;
    }
    .text-muted:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc(50% - 75px);
      background: #7fe0de;
      height: 2px;
      width: 150px;
    }
  }
  h1:before {
    content: "";
    position: absolute;
    background: url(../images/ico.svg) no-repeat;
    width: 80px;
    height: 60px;
    right: calc(50% - 40px);
    top: 60px;
  }
}
.container.gallery {
  .img-holder {
    max-width: 270px;
    height: 200px;
    background: #fff;
    margin: auto;
    margin-bottom: 25px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .btn-danger {
    background: #ff3150;
    color: #ffc501;
    font: 15px 'robotomedium';
    padding: 14px 50px;
    border-radius: 25px;
    margin: 30px 0 60px;
  }
  .btn-danger:hover {
    background: #f50328;
  }
}
